* {
    font-family: "Calibri", sans-serif;
}

.header {
    color : rgb(80,80,80);
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
}

.subheader {
    color : rgb(80,80,80);
    font-size: 1.7em;
    margin-top:40px;
    padding-top:20px;
    padding-bottom: 15px;
    text-align: center;
}

body {
    background : rgb(80,80,80)
}

.default-button {
    background: rgb(245,245,245);
    border-radius: 3px;
    display : flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:rgb(80,80,80);
    font-size: 1em;
}

.default-button:hover {
    background: rgb(235,235,235);
    cursor: pointer;
}

@media all and (max-width : 600px ) {
    .header {
        font-size: 1.6em;
    }

    .subheader {
        font-size: 1.3em;
    }
}