.payment-data-element {
    /* background : blue; */
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left: 60px;
    padding-right:50px;
    /* border-bottom-style: solid; */
    border-width: 1px;
    border-color: rgba(200,200,200,0.5);
    display: flex;
    color : rgb(80,80,80);
}

.payment-data-element-descriptor {
    min-width:80px;
}
